<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="description" content="Name of your web site">
<!--<meta name="author" content="Marketify">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->

<title>FORMULAIRE</title>

<!-- STYLES -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/plugins.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
 <script type="text/javascript" src="js/modernizr.custom.js"></script>  


<!-- /STYLES -->

</head>



<body>
   
        
        <!-- CONTENT -->
        
     
    
        <div class="ar">  
    
         <br><br><br><br>

        <div class="container">
            <div class="arlo_tm_title_holder contact">
                <h3>FORMATION</h3>
                
            </div>
        </div>

        <form action="/upfor?id=<%=id%>&idf=<%=idf%>" method="post" class="contact_form" name="contact_form" id="contact_form">
        
        <div id="format">  
        <div class="rightbox">
            <div class="arlo_tm_contact_wrap">
                <div class="main_input_wrap">
                 
                        
                        <div class="wrap">
                            <input id="formation" name="formation"  type="text" placeholder="Votre formation" value="<%=form.formation%>">
                        </div>
                        <div class="wrap">
                            <input id="etablissement" name="etablissement" type="text" placeholder="Etablissement" value="<%=form.etablissement%>">
                        </div>
                        <div class="wrap">
                            <input id="ville" name="ville"  type="text" placeholder="Ville" value="<%=form.ville%>">
                        </div>
                        <div class="wrap">
                            <input id="dateD" name="dateD" type="date" placeholder="Date de debut" value="<%=form.dateD%>">
                        </div>
                        <div class="wrap">
                            <input id="dateF"  name="dateF" type="date" placeholder="Date de fin" value="<%=form.dateF%>">
                        </div>
                       
                        <div class="wrap">
                            <textarea id="message1"  name="message1" placeholder="Description "></textarea>
                        </div>
                        <button type="submit" class="formation" >DONE/ ADD</button>
                     
                        
                       
                   
                </div>
            </div>
        </div>
      </div>
         </form>

         <div class="arlo_tm_footer_contact_wrapper_all">
            <div class="arlo_tm_contact_wrap_all">
                
                <div class="arlo_tm_footer_wrap">
                    <div class="container">
                        <p>&copy; Copyright 2020. All Rights are Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
           
    
           
    </body> 
              
     <!-- SCRIPTS -->
     <script src="js/jquery.js"></script>
    
     <!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->	
     <script src="js/plugins.js"></script>
     <script src="js/init.js"></script>
     <!-- /SCRIPTS -->
    
    
             
                
    </html>